<form action="{{ url_for('admin_bp.add_author') }}" method="post">
    <label for="author_firstname">Prénom de l'auteur :</label>
    <input type="text" id="author_firstname" name="author_firstname" required><br>

    <label for="author_lastname">Nom de l'auteur :</label>
    <input type="text" id="author_lastname" name="author_lastname" required><br>

    <label for="author_birthday">Date de naissance :</label>
    <input type="date" id="author_birthday" name="author_birthday" required><br>

    <input type="submit" value="Ajouter l'auteur">
</form>
