<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Livres</title>
</head>
<body>
    <h1>Liste des Livres</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Catégorie</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_title }}</td>
                <td>{{ book.author.author_firstname }} {{ book.author.author_lastname }}</td>
                <td>{{ book.category.category_name }}</td>
                <td>{{ book.book_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
