<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Auteurs</title>
</head>
<body>
    <h1>Liste des Auteurs</h1>
    {% if authors %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de Naissance</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                <tr>
                    <td>{{ author.author_id }}</td>
                    <td>{{ author.author_firstname }}</td>
                    <td>{{ author.author_lastname }}</td>
                    <td>{{ author.author_birthday }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun auteur trouvé.</p>
    {% endif %}
</body>
</html>
